@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


button,
a,
[role="button"],
[type="button"],
[type="submit"],
[type="reset"],
input[type="checkbox"],
input[type="radio"],
select,
.cursor-pointer {
  cursor: pointer !important;
}

button:disabled,
a[disabled],
[disabled] {
  cursor: not-allowed !important;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  
}
